@charset "utf-8";
.con{ width:100vw; height:100vh;}  
.vs { width: 100vw; height:100vh; position:relative;}
/*vs_box*/
.vs_box { width: 400%; height:100vh; transition: 1s; }
.vs_box li { width: 25%; height:100vh; float: left; }
.vs_box li a { width: 100vw; height:100vh; }
.vs_box li a img { width: 100vw; height:100vh }

/*label_btn*/

.vs_box li.item .prev,.vs_box li .next { display: block; width:21px; height: 32px; position: absolute; text-indent: -9999px; cursor: pointer; display: none; z-index: 99}
.vs_box li.item .prev { background-image: url("./main/button_mainSlide_prev.png"); top:50%; left: 15%;}
.vs_box li.item .next { background-image: url("./main/button_mainSlide_next.png");
top:50%; right: 15%;}


/*barbox_l부분*/
.barbox_l ul { height:2px; position: absolute; top: 51% ; left: 17.5%; z-index: 999; margin-top: 5px; }
.barbox_l  ul li.bar { float:left; width:1240px; height:2px; background-color:  #fff; color:#fff; opacity:0.5; text-indent: -9999px }

/*barbox_s부분*/
.barbox_s  ul { height:2px; position: absolute; top: 51% ; left: 17.5%; z-index: 999; margin-top: 5px;}
.barbox_s  ul li.bar { float:left; background-color:  #fff; color:#fff; opacity: 0; visibility: visible; transition: 0.3s ; text-indent:  -9999px; }

/*bar length*/
.barbox_s .bar { width:1240px; height:2px; }

/*checkbox부분*/
#vs1:checked ~ .vs_box { margin-left: 0px;}
#vs2:checked ~ .vs_box { margin-left: -100%;}
#vs3:checked ~ .vs_box { margin-left: -200%;}
#vs4:checked ~ .vs_box { margin-left: -300%;}

/*checkbox 버튼부분*/
#vs1:checked ~ .vs_box .item01 label{ display: block;}
#vs2:checked ~ .vs_box .item02 label{ display: block;}
#vs3:checked ~ .vs_box .item03 label{ display: block;}
#vs4:checked ~ .vs_box .item04 label{ display: block;}

/*barbox 부분*/

#vs1:checked ~ .barbox_s .bar { opacity:1; visibility: visible; width:310px; }
#vs2:checked ~ .barbox_s .bar{ display: block; opacity:1; visibility: visible; width:620px; }
#vs3:checked ~ .barbox_s .bar { display: block; opacity:1; visibility: visible; width:930px; }
#vs4:checked ~ .barbox_s .bar { display: block; opacity:1; visibility: visible; width: 1240px; }

.ra { display: none;}

/*txt_box*/
.vs_box .txt_box { width: 1100px; height:500px; position: absolute; top:38%; left: 20%; text-align: center; display: none; text-shadow: 1px 1px #000;}
.vs_box .txt01 { width: 1100px; position: absolute; left: 22%; }
.vs_box .txt02 { width: 1100px; position: absolute; left: 22%; }
.vs_box .txt03 { width: 1100px; position: absolute; left: 21%; }
.vs_box .txt04 { width: 1100px; position: absolute; left: 21%; }

.vs_box .txt_box h2, .vs_box .txt_box h1 { width: 1100px; padding: 10px 0; color:#fff;}
.vs_box .txt_box p.com { font-size: 20px; padding-top: 40px; line-height: 1.6;color:#fff; }
/*a 버튼*/
.vs_box  a.go { display: block; width:200px; height: 60px; line-height: 60px;  border:1px solid #fff; text-align: center; font-size: 18px; color: #fff;   margin: 40px auto; position: absolute; left: 50%; bottom: 20%; margin-left: -100px; display: none;}



/*txt_box& checkbox 부분*/
#vs1:checked ~ .vs_box .item01 .txt_box,.vs_box .item01 .go { display: block;}
#vs2:checked ~ .vs_box .item02 .txt_box,.vs_box .item02 .go { display: block;}
#vs3:checked ~ .vs_box .item03 .txt_box,.vs_box .item03 .go { display: block;}
#vs4:checked ~ .vs_box .item04 .txt_box,.vs_box .item04 .go { display: block;}


